.custom-button {
  // min-width: 165px;
  width: 16vw;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: inherit;
  // padding: 0 2vw;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border: 1px solid #0000;

  &:hover {
    background-color: #0000;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: #fff;
    &:hover {
      background-color: #357ae8;
      border: 1px solid #0000;
    }
  }

  &.inverted {
    background-color: #fff;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
