.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  min-width: 100%;
  flex: 1 1 auto;

  .title {
    font-size: 2rem;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
  }
}
