.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  flex: 1;
  position: relative;

  .image {
    width: 100%;
    height: 30vw;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    // border: 1px solid black;
  }

  .custom-button {
    width: 80%;
    opacity: 0.8;
    position: absolute;
    top: 22vw;
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }
    .custom-button {
      opacity: 0.85;
      display: block;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      // width: 90%;
      margin-bottom: 15px;
    }
  }
}
