.sign-in {
  margin-right: 2em;
  width: 35vw;
  flex: 1;
}
h2 {
  margin: 0;
}
form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
input {
  background-color: #0000;
  border: 1px solid black;
}
.submit-button {
  margin-top: 1.5em;
}
