.directory-menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 360px);

  justify-content: end;
  align-content: end;
  margin-top: 5.5em;
}
