.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: 25px;
  padding: 4em 6vw;
  letter-spacing: -1.2px;

  .logo-container {
    height: 100%;

    .logo {
      margin: 0 auto;
      margin-bottom: 0.6em;
      text-align: center;
      align-items: center;
      display: block;
      width: 4em;
      height: 100%;
    }
  }
}

.options {
  // position: relative;

  width: 80vw;
  height: 100%;
  display: flex;
  gap: 4vw;
  align-items: center;
  justify-content: flex-end;

  .option {
    cursor: pointer;
    font-size: 2em;

    // flex: 1;
    min-width: fit-content;
    text-align: right;
  }
}

@media (max-width: 580px) {
  .header .option {
    font-size: 1.5em;
    font-weight: 300;
  }
}
