body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #eee;
}
a {
  text-decoration: none;
  color: #111;
}
.nav {
  height: auto;
  padding: 1rem 1rem 1rem 0;
  background-color: #fffa;
  backdrop-filter: blur(20px);
  z-index: 9999;

  display: flex;

  gap: 10px;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
  align-items: center;
  justify-content: center;
}

button {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;

  flex: 1;

  border-style: none;
  color: #1a1a1a;
  /* border-radius: 50px; */

  border: 1px solid #effb8400;
  background-color: #effb84ee;
  background-color: #fff6;

  padding: 0.15em 1.2em;
  /* cursor: pointer; */
  /* margin: 10px; */
}
button:hover {
  border-color: #effb84;
  border-color: #0008;
  background-color: #0000;
  transition: 150ms;
}
