.sign-in-and-sign-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 5vh 5vw;

  h1 {
    flex-basis: 100%;
  }
}
@media (max-width: 580px) {
  .sign-in-and-sign-up {
    gap: 4em;
  }
  .sign-in-and-sign-up > * {
    min-width: 100%;
  }
}
